<div class="flex h-full min-h-screen">
  <div class="w-1/2 sticky top-0 h-full p-20 border-b-[1px] border-[black]">
    <div class="gap-8 flex flex-col h-full">
      <h1
        class="text-7xl font-semibold"
        data-aos="fade-up-right"
        data-aos-once="true"
      >
        Kyiv <br />LuxeBouquets
      </h1>
      <div data-aos="fade-up" data-aos-once="true">
        Discover Uniquely Crafted Bouquets and Gifts for Any Occasion: Spread
        Joy with Our Online Flower Delivery Service
      </div>
    </div>
    <div class="gap-8 flex border-t-[black] border-t-2 pt-6 h-full">
      <picture class="pr-6 border-r-[1px] border-[black] h-full">
        <img src="images/home2.webp" alt="Alt Text!" height="700" width="700" />
      </picture>
      <div class="pl-6 flex items-end h-full">
        <p data-aos="fade-up" data-aos-once="true">
          Experience the joy of giving with our modern floral studio. Order
          online and send fresh flowers, plants and gifts today.
        </p>
      </div>
    </div>
  </div>
  <!-- <a ></a> -->
  <div class="w-1/2">
    <div *ngFor="let item of items; index as i" class="flex">
      <div
        *ngIf="i % 2 == 0"
        class="w-1/2 p-6 relative border-l border-b border-[black]"
      >
        <p
          class="absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%] text-3xl font-medium"
        >
          {{ item.name }}
        </p>
        <p
          [routerLink]="['/category', { categoryId: item._id }]"
          class="absolute flex items-center bottom-2 left-[50%] transform translate-x-[-50%] translate-y-[-50%]"
        >
          Shop now
          <svg
            class="w-[36px] h-[36px] text-gray-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="m9 5 7 7-7 7"
            />
          </svg>
        </p>
      </div>
      <div
        class="w-1/2 aspect-square border-l border-b border-r border-[black] overflow-hidden"
        *ngIf="i % 2 == 0"
      >
        <img
          [routerLink]="['/category', { categoryId: item._id }]"
          src="data:image/*;base64,{{ arrayBufferToBase64(item.picture.data) }}"
          class="aspect-square object-cover hover:scale-[1.2] transition duration-1000 ease-in-out"
        />
      </div>
      <!-- -------------- -->
      <div
        class="w-1/2 aspect-square border-l border-b border-r border-[black] overflow-hidden"
        *ngIf="i % 2 == 1"
      >
        <img
          [routerLink]="['/category', { categoryId: item._id }]"
          src="data:image/*;base64,{{ arrayBufferToBase64(item.picture.data) }}"
          class="aspect-square object-cover hover:scale-[1.2] transition duration-1000 ease-in-out"
        />
      </div>
      <div
        *ngIf="i % 2 == 1"
        class="w-1/2 p-6 relative border-l border-b border-r border-[black]"
      >
        <p
          class="absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%] text-3xl font-medium"
        >
          {{ item.name }}
        </p>
        <p
          [routerLink]="['/category', { categoryId: item._id }]"
          class="absolute flex items-center bottom-2 left-[50%] translate-y-[-50%]"
        >
          Shop now
          <svg
            class="w-[36px] h-[36px] text-gray-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="m9 5 7 7-7 7"
            />
          </svg>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- ////2///// -->
<div class="flex border-[black] border-x border-b">
  <div class="w-1/2 sticky top-0 h-fit">
    <p data-aos="fade-up-right" class="p-20 text-5xl font-semibold">About us</p>
  </div>
  <div class="w-1/2 p-20 border-l border-[black]">
    <div class="flex flex-col gap-6">
      <p class="font-medium text-base" data-aos="fade-left">OUR STORE</p>
      <div class="flex flex-col gap-4">
        <p class="text-4xl font-semibold" data-aos="fade-left">
          Kyiv LuxeBouquets
        </p>
        <p data-aos="fade-left" data-aos-duration="700">
          We are a modern local floral studio, which specializes in the design
          and delivery of unique bouquets. We have the best florists who
          carefully select each look, our studio cooperates directly with farms
          for growing different flowers, so we always have fresh flowers, which
          are collected by our florists in exquisite bouquets. We have a
          collection of fresh bouquets, collections of dried bouquets, house
          plants, as well as fragrant candles from luxury brands to create the
          perfect atmosphere. Make someone's day amazing by sending flowers,
          plants and gifts the same or next day. Ordering flowers online has
          never been easier.
        </p>
      </div>
    </div>
    <button
      hlmBtn
      data-aos="fade-left"
      data-aos-duration="800"
      class="mt-16 w-52 border-[black] hover:bg-[black] hover:text-[white]"
      variant="outline"
    >
      Lern more
    </button>
  </div>
</div>
<!-- ////3///// -->

<div class="flex border-[black] border-x border-b">
  <div class="top-0 sticky w-1/2 h-fit">
    <p
      data-aos="fade-left"
      data-aos="fade-up-right"
      class="p-20 text-5xl font-semibold"
    >
      Why choose us ?
    </p>
  </div>
  <div class="w-1/2 border-l border-[black]">
    <div class="p-20 border-[black] border-b">
      <p data-aos="fade-left" class="text-4xl font-semibold mb-6">
        Stylish bouquets by florists
      </p>
      <p data-aos="fade-left" data-aos-duration="850">
        At our floral studio, our professional florists craft the most elegant
        and stylish bouquets using only the freshest and highest quality
        materials available. We stay up-to-date with the latest floral design
        trends and offer unique arrangements that are sure to impress. Let us
        brighten up your day with our stunning bouquets and same-day delivery
        service.
      </p>
    </div>
    <div class="p-20 border-[black] border-b">
      <p data-aos="fade-left" class="text-4xl font-semibold mb-6">
        On-time delivery
      </p>
      <p data-aos="fade-left" data-aos-duration="850">
        Never miss a moment with our on-time flower delivery service. Our
        couriers will deliver your bouquet personally, without boxes, to ensure
        it arrives in perfect condition. Trust us to deliver your thoughtful
        gift reliably.
      </p>
    </div>
    <div class="p-20 border-[black] border-b">
      <p data-aos="fade-left" class="text-4xl font-semibold mb-6">
        Safe payment
      </p>
      <p data-aos="fade-left" data-aos-duration="850">
        You can feel secure when placing an order with us, as we use
        industry-standard security measures to protect your payment information.
        Your transaction will be safe and hassle-free, so you can shop with
        confidence.
      </p>
    </div>
    <div class="p-20">
      <p data-aos="fade-left" class="text-4xl font-semibold mb-6">
        Subscription by your needs
      </p>
      <p data-aos="fade-left" data-aos-duration="850">
        With our subscription service tailored to your specific needs, you can
        enjoy the convenience of having beautiful bouquets delivered straight to
        your door at regular intervals. Our flexible service is perfect for busy
        individuals or those who want to ensure they always have fresh flowers
        on hand. You'll save time and money with this hassle-free solution to
        your floral needs.
      </p>
    </div>
  </div>
</div>
<!-- ////4///// -->
<div class="flex h-fit" id="contact">
  <div class="w-1/2 h-full sticky top-0">
    <div class="p-20">
      <p class="text-5xl font-semibold mb-6" data-aos="fade-up">
        To Contact Us
      </p>
      <div class="flex flex-col gap-4">
        <p class="font-medium text-lg" data-aos="fade-up">
          We will call you back
        </p>
        <div class="flex gap-4" data-aos-once="true" data-aos="fade-up">
          <input
            class="h-14 w-1/2"
            hlmInput
            placeholder="Your Email"
            type="email"
            data-aos-once="true"
          />
          <button hlmBtn class="h-14 w-1/2">Remind</button>
        </div>
      </div>
    </div>
    <div class="flex h-full">
      <div class="w-full h-full">
        <div class="flex">
          <div
            class="w-1/2 border-[black] border-l border-y px-3 py-4 font-medium text-3xl text-center"
          >
            <P data-aos="fade-up">Phone</P>
          </div>
          <div
            class="w-1/2 border-[black] border-l border-y px-3 py-4 font-medium text-3xl text-center"
          >
            <P data-aos="fade-up"> Address </P>
          </div>
        </div>
        <div class="w-full flex border-b border-[black]">
          <div
            class="w-1/2 p-6 flex flex-col gap-6 border-[black] border-l text-center font-medium"
          >
            <p data-aos="fade-up">+380980099777</p>
            <p data-aos="fade-up">+380980099777</p>
          </div>
          <div
            class="w-1/2 p-6 flex flex-col gap-6 border-[black] border-l text-center font-medium"
          >
            <div data-aos="fade-up">
              <p>opening hours: 8 to 11 p.m.</p>
              <p>15/4 Khreshchatyk Street, Kyiv</p>
            </div>
            <div data-aos="fade-up">
              <p>opening hours: 8 to 11 p.m.</p>
              <p>15/4 Khreshchatyk Street, Kyiv</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-[black] border-x w-1/2">
    <img src="images/Kyiv.webp" alt="Kyiv" class="w-full aspect-square" />
    <div class="flex w-full">
      <div
        class="w-1/2 px-10 py-4 text-center text-3xl font-medium border-[black] border-r"
      >
        <p data-aos-once="true">Follow us</p>
      </div>
      <div class="flex w-1/2 px-10 py-4 justify-between items-center gap-8">
        <svg
          class="w-6 h-6 text-gray-800"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
            clip-rule="evenodd"
          />
        </svg>
        <svg
          class="w-6 h-6 text-gray-800"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z"
            clip-rule="evenodd"
          />
        </svg>

        <svg
          class="w-6 h-6 text-gray-800"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M22 5.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.343 8.343 0 0 1-2.605.981A4.13 4.13 0 0 0 15.85 4a4.068 4.068 0 0 0-4.1 4.038c0 .31.035.618.105.919A11.705 11.705 0 0 1 3.4 4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 6.1 13.635a4.192 4.192 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 2 18.184 11.732 11.732 0 0 0 8.291 20 11.502 11.502 0 0 0 19.964 8.5c0-.177 0-.349-.012-.523A8.143 8.143 0 0 0 22 5.892Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
<!-- ////5///// -->
<div
  class="px-3 py-20 text-5xl font-semibold text-center border-[black] border-y"
>
  <p data-aos="fade-up" data-aos-once="true">Our Service</p>
</div>
<!-- ////6///// -->
<div class="flex">
  <img
    src="images/home3.png"
    alt="Flower-Delivery"
    class="w-1/2 aspect-square"
  />
  <div class="w-1/2 p-20 border-[black] border-x">
    <div class="h-full flex flex-col justify-center items-center gap-6">
      <div class="flex flex-col text-center gap-4" data-aos-once="true">
        <p>SERVICE</p>
        <p class="font-semibold text-5xl">Flower Subcriptions</p>
        <p class="font-medium text-lg" data-aos-once="true">
          Experience the convenience and savings of regular flower deliveries
          with our flexible subscription service - up to 30% more profitable
          than one-time purchases.
        </p>
      </div>
      <button
        hlmBtn
        class="mt-16 w-fit h-fit border-[black] hover:bg-[black] hover:text-[white]"
        variant="outline"
      >
        <p class="font-medium text-xl p-3">Subscribe Now</p>
      </button>
    </div>
  </div>
</div>
