<div *ngIf="isActive">
  <div class="product-detail-container">
    <!-- Product Detail Section -->
    <div class="product-detail border-b border-[black]">
      <div class="overflow-hidden border-l border-r border-[black]">
        <img
          src="data:image/*;base64,{{
            arrayBufferToBase64(products.picture.data)
          }}"
          class="aspect-square object-cover min-w-full"
          alt="{{ products.name }}"
        />
      </div>

      <div class="product-info p-10 flex flex-col justify-between">
        <div>
          <p class="font-medium text-sm mb-4">
            {{ category | uppercase }} /
            <span class="text-[gray]">{{ products.name | uppercase }}</span>
          </p>

          <div class="flex flex-col gap-4">
            <h2 class="font-medium text-6xl">
              {{ products.name }} - {{ products.price | currency }}
            </h2>
            <p>
              {{ products.desc }}
            </p>
          </div>
          <div class="quantity-selector flex items-center gap-4">
            <label class="font-medium text-xl" for="quantity">Quantity</label>
            <div class="flex border">
              <button
                class="border-r w-11 aspect-square"
                (click)="decreaseQuantity()"
              >
                <svg
                  class="w-[36px] h-[36px] text-gray-800"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="0.5"
                    d="M5 12h14"
                  />
                </svg>
              </button>
              <p class="h-11 w-14 flex justify-center items-center text-center">
                <span>{{ quantity }}</span>
              </p>

              <button
                class="border-l w-11 aspect-square flex justify-center items-center"
                (click)="increaseQuantity()"
              >
                <svg
                  class="w-[36px] h-[36px] text-gray-800"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="0.5"
                    d="M5 12h14m-7 7V5"
                  />
                </svg>
              </button>
            </div>
          </div>

          <div class="combo-section">
            <p class="font-medium text-lg">Excellent Combination with:</p>
            <div class="combo-items justify-center">
              <div class="combo-item" *ngFor="let combo of combos">
                <img
                  [src]="combo.imageUrl"
                  alt="{{ combo.name }}"
                  class="aspect-square w-36 border border-[black]"
                />
                <p class="text-start">
                  {{ combo.name }}
                </p>
                <p class="text-[gray]">{{ combo.price | currency }}</p>
              </div>
            </div>
          </div>
        </div>
        <button (click)="addProducttoCart()" hlmBtn class="w-full active:scale-95">
          ADD TO CART
        </button>
      </div>
    </div>

    <!-- Recommended Section -->
    <div class="recommended-section">
      <h3>You may also like...</h3>
      <div class="recommended-products">
        <div
          class="recommended-product relative border-t border-r border-[black]"
          *ngFor="let product of recommendedProducts"
        >
          <img [src]="product.imageUrl" alt="{{ product.name }}" />
          <p
            class="text-center text-lg font-medium absolute bottom-5 left-[50%] transform translate-x-[-50%]"
          >
            {{ product.name }}<br /><span class="text-[gray] text-base">{{
              product.price | currency
            }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="!isActive"><app-page-not-found></app-page-not-found></div> -->
