<link href="https://fonts.cdnfonts.com/css/zapfino-extra-lt" rel="stylesheet" />
<div class="w-full h-full flex">
  <!-- Left Section with Text Content -->
  <div class="w-1/2 flex items-center justify-center border-r border-black">
    <div class="text-center">
      <div class="mb-6">
        <h2 class="mb-4 text-5xl pt-2 font-a">Our Story</h2>
        <div class="text-decor text-6xl font-ab mt-10">About</div>
        <h2 class="text-5xl font-a">La Fleur Élite</h2>
      </div>
      <div class="mb-10">
        <span class="font-normal text-base block font-a">
          Discover Uniquely Crafted Bouquets and Gifts for Any Occasion: <br>
          Spread Joy with Our
          <span class="italic font-a">Online Flower Delivery Service</span>
        </span>
      </div>
      <div class="flex gap-6 justify-center">
        <!-- Social Media Icons -->
        <a href="#" class="w-10 h-10 inline-block">
          <div class="rounded-full border border-black p-2">
            <img
              src="https://cdn.prod.website-files.com/6400d82951450021c2d1eb7b/6442512bb0e2f24ef5ad20e4_Vectors-Wrapper.svg"
              alt="instagram icon"
              class="icon24"
            />
          </div>
        </a>
        <a href="#" class="w-10 h-10 inline-block">
          <div class="rounded-full border border-black p-2">
            <img
              src="https://cdn.prod.website-files.com/6400d82951450021c2d1eb7b/6442512c08fc507d2b596a48_Vectors-Wrapper.svg"
              alt="pinterest icon"
              class="icon24"
            />
          </div>
        </a>
        <a href="#" class="w-10 h-10 inline-block">
          <div class="rounded-full border border-black p-2">
            <img
              src="https://cdn.prod.website-files.com/6400d82951450021c2d1eb7b/6442512cf75d20d725d6183e_Vectors-Wrapper.svg"
              alt="facebook icon"
              class="icon24"
            />
          </div>
        </a>
        <a href="#" class="w-10 h-10 inline-block">
          <div class="rounded-full border border-black p-2">
            <img
              src="https://cdn.prod.website-files.com/6400d82951450021c2d1eb7b/6442512d10ceaa5410c2bb9f_Vectors-Wrapper.svg"
              alt="twitter icon"
              class="icon24"
            />
          </div>
        </a>
        <a href="#" class="w-10 h-10 inline-block">
          <div class="rounded-full border border-black p-2">
            <img
              src="https://cdn.prod.website-files.com/6400d82951450021c2d1eb7b/6442512ef6b6b416917f935b_Vectors-Wrapper.svg"
              alt="telegram icon"
            />
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Right Section with Image -->
  <div class="w-1/2 h-full flex items-center justify-end">
    <img
      src="https://cdn.prod.website-files.com/6400d82951450021c2d1eb7b/6442512f0b353c7303729616_image-p-1080.png"
      alt="Image"
      class="object-cover h-full w-full"
    />
  </div>
</div>


<div
  class="flex flex-col items-center text-center w-full  border-y border-black"
>
  <div class="overflow-hidden mb-6">
    <div class="opacity-100 uppercase font-medium mt-20 font-a">About Us</div>
  </div>
  <div class="overflow-hidden mb-4">
    <h3 class="text-4xl font-semibold opacity-100 font-a">Our Founder's Passion</h3>
  </div>
  <div class="max-w-prose mb-20 w-full ">
    <p class="text-gray-500 text-base font-a">
      La Fleur Élite was founded in 2010 by Natalia Zelinska with the goal of
      bringing unique and exquisite bouquets to the people of Élite. Natalia has
      always had a passion for flowers and design, and her vision was to create
      a local floral studio that would specialize in the creation and delivery
      of fresh, beautiful, and distinctive bouquets.
    </p>
  </div>
</div>

<!-- Section Template -->
<div class="flex border-[black] border-x border-b">
  <div class="w-1/2 sticky top-0 h-screen flex items-center justify-center border-r border-black">
    <img
      src="https://cdn.prod.website-files.com/6400d82951450021c2d1eb7b/6442743a10be975a90b4a942_Rectangle-74-p-800.png"
      alt="Image"
      class="object-cover h-full w-full"
    />
  </div>
  <div class="w-1/2 p-20">
    <div class="wrapper text-left sticky top-0 h-fit">
      <h2 class="mb-4 text-4xl font-medium font-a">Expertly Crafted Bouquets</h2>
      <div class="subtitle">
        <span class="font-normal text-lg block text-gray-500 font-a">
          At La Fleur Élite, we take pride in our team of talented and
          experienced florists who carefully select each bloom, ensuring that
          only the freshest and most stunning flowers make it into our bouquets.
          We work directly with farms to source the highest quality flowers, and
          our skilled florists expertly craft each bouquet to perfection.
        </span>
      </div>
    </div>
  </div>
</div>


<div class="w-full h-screen flex border-b border-black">
  <div class="w-1/2 h-full flex justify-center p-14 border-black border-r">
    <div class="wrapper text-left sticky top-0 h-fit">
      <h2 class="mb-4 text-4xl font-medium font-a">Bouquets, Gifts & Ambiance</h2>
      <div class="subtitle">
        <span class="font-normal text-lg block text-gray-500 font-a">
          In addition to our stunning bouquets, we also offer a collection of
          dried bouquets, house plants, and fragrant candles from luxury brands
          to create the perfect ambiance. We believe that sending flowers,
          plants, and gifts should be easy and stress-free, which is why we
          offer same or next-day delivery throughout Élite.
        </span>
      </div>
    </div>
  </div>
  <div class="w-1/2 h-full flex items-center justify-end">
    <img
      src="https://cdn.prod.website-files.com/6400d82951450021c2d1eb7b/644281896d2dc44845a365da_books-vase-diffuser.webp"
      alt="Image"
      class="object-cover h-full w-full"
    />
  </div>
</div>

<div class="w-full h-screen flex">
  <div class="w-1/2 h-full flex items-center justify-end border-r border-black">
    <img
      src="https://cdn.prod.website-files.com/6400d82951450021c2d1eb7b/64427ecc153b4214c3e97f49_gift-roses%20copy.webp"
      alt="Image"
      class="object-cover h-full w-full"
    />
  </div>
  <div class="w-1/2 h-full flex justify-center p-14">
    <div class="wrapper text-left sticky top-0 h-fit">
      <h2 class="mb-4 text-4xl font-medium font-a">Making Every Day Special</h2>
      <div class="subtitle">
        <span class="font-normal text-lg block text-gray-500 font-a">
          Our mission is simple: to make every day special and memorable for our
          customers. We are dedicated to providing the highest quality flowers,
          exceptional customer service, and a seamless online experience that
          will make you feel confident and satisfied with your purchase. Thank
          you for choosing La Fleur Élite. We look forward to bringing joy
          and happiness to your life with our beautiful bouquets and gifts.
        </span>
      </div>
    </div>
  </div>
</div>

