<form (ngSubmit)="submit()">
  <div class="flex flex-col gap-4">
    <p class="font-medium text-xl">3 Payment</p>
    <div class="">
      <p class="mb-3 font-medium">Pay by card. Your payment is secure.</p>
      <input
        required
        type="text"
        placeholder="Card Number"
        hlmInput
        class="w-full mb-3"
        [(ngModel)]="cardnumber"
        name="cardnumber"
      />
      <div class="w-full flex gap-3">
        <input
          required
          type="text"
          placeholder="MM / YY"
          hlmInput
          class="w-1/2 mb-3"
          [(ngModel)]="expnumber"
          name="expnumber"
        />
        <input
          required
          type="text"
          placeholder="CVV Code"
          hlmInput
          class="w-1/2 mb-3"
          [(ngModel)]="cardcode"
          name="cardcode"
        />
      </div>
    </div>
    <button type="submit" hlmBtn (click)="onClick()">MAKE A PURCHASE</button>
  </div>
</form>
