<div class="flex flex-col gap-4">
  <p class="font-medium text-xl">1 Contact information</p>
  <form  (ngSubmit)="submit()">
    <input
      required
      type="text"
      placeholder="Your Name"
      hlmInput
      class="w-full mb-3"
      [(ngModel)]="name"
      name ="name"
    />
    
    <input
      required
      type="email"
      placeholder="Your Email"
      hlmInput
      class="w-full mb-3"
      [(ngModel)]="email"
      name ="email"

    /><input
      required
      type="text"
      placeholder="Your Phone number *"
      hlmInput
      class="w-full mb-3"
      [(ngModel)]="phonenumber"
      name ="phonenumber"

    />
  <button (click)="sendTextToParent()" hlmBtn (click)="onClick()">CONTINUE TO SHIPPING</button>
  </form>
    
</div>
