<div class="space-y-5">
  <p class="font-medium text-xl">1 Contact information</p>
  <form [formGroup]="contatinfoForm" class="space-y-2" (submit)="onSubmit()">
    <hlm-form-field>
      <input
        required
        type="text"
        placeholder="Your Name"
        hlmInput
        class="w-full"
        formControlName="name"
      />
      <hlm-error>Your name is required</hlm-error>
    </hlm-form-field>
    <hlm-form-field>
      <input
        required
        type="email"
        placeholder="Your Email"
        hlmInput
        class="w-full"
        formControlName="email"
      />
      <hlm-error>Your Email is required</hlm-error>
    </hlm-form-field>
    <hlm-form-field>
      <input
        required
        type="text"
        placeholder="Your Phone number *"
        hlmInput
        class="w-full"
        formControlName="phonenumber"
      />
      <hlm-error>Your Phone is required</hlm-error>
    </hlm-form-field>

    <button hlmBtn type="submit" class="w-full">CONTINUE TO SHIPPING</button>
  </form>
</div>
