<div class="flex flex-col gap-4">
  <p class="font-medium text-xl">1 Contact information</p>
  <div class="">
    <input
      type="text"
      placeholder="Your Name"
      hlmInput
      class="w-full mb-3"
    /><input
      type="text"
      placeholder="Your Email"
      hlmInput
      class="w-full mb-3"
    /><input
      type="text"
      placeholder="Your Phone number *"
      hlmInput
      class="w-full mb-3"
    />
  </div>
  <button hlmBtn (click)="onClick()">CONTINUE TO SHIPPING</button>
</div>
