<div class="w-full flex justify-between h-20 border border-[black]">
  
  <div class="flex">
    <div class="w-44 py-6 px-8 border-r-[black] border-r-[1px] text-center">
      <a routerLink="/home" class="hover:underline cursor-pointer">Shop</a>
    </div>
    <div class="w-44 py-6 px-8 border-r-[black] border-r-[1px] text-center">
      <a (click)="scrollToContact()" class="hover:underline cursor-pointer">Contact</a>
    </div>
  </div>

 
  <div class="flex">
    <div class="w-44 py-6 px-8 border-l-[black] border-l-[1px] text-center">
      <a routerLink="/register" class="hover:underline cursor-pointer">Sign in</a>
    </div>
    <div class="w-44 py-6 px-8 border-l-[black] border-l-[1px] text-center">
      <a routerLink="/cart" class="hover:underline cursor-pointer">Cart</a>
    </div>
  </div>
</div>
