<div class="w-full flex justify-between h-20 border border-black">
  <div class="flex">
    <div class="w-44 py-6 px-8 border-r-black border-r-[1px] text-center">
      Shop
    </div>
    <div class="w-44 py-6 px-8 border-r-black border-r-[1px] text-center">
      Contact
    </div>
  </div>
  <div class="flex">
    <div class="w-44 py-6 px-8 border-l-black border-l-[1px] text-center">
      Sign in
    </div>
    <div class="w-44 py-6 px-8 border-l-black border-l-[1px] text-center">
      Cart
    </div>
  </div>
</div>
