<div class="sticky-navbar w-full flex justify-between h-20 border border-[black] sticky">
  <div class="flex w-[25%]">
    <div class="flex-1 py-6 px-4 border-r-[black] border-r-[1px] text-center hover:underline cursor-pointer"
      routerLink="/home">
      Shop
    </div>
    <div class="flex-1 py-6 px-4 border-r-[black] border-r-[1px] text-center hover:underline cursor-pointer"
      (click)="scrollToContact()">
      Contact
    </div>
  </div>

  <div class="flex w-[25%]">
    <ng-container *ngIf="isauthenticated; else signInTemplate">
      <!-- Account Dropdown -->
      <div  (click)="openModalAccount()"
        class="w-44 py-6 px-8 border-l-[black] border-l-[1px] text-center hover:underline cursor-pointer relative group">
        <span>Account</span> <!-- Change link if needed -->

        <div
          class="absolute left-1/2 transform -translate-x-1/2 hidden group-hover:flex flex-col items-start bg-white border-[black] border p-2 w-[190px]"
          style="margin-top: 1.9rem;">
          <button class="w-full text-left px-3 py-2 hover:underline cursor-pointer" (click)="onSignOut()">Sign
            out</button>
        </div>
      </div>
    </ng-container>

    <ng-template #signInTemplate>
      <div class="flex-1 py-6 px-4 border-l-[black] border-l-[1px] text-center hover:underline cursor-pointer"
        (click)="navigateToSignIn()">
        Sign in
      </div>
    </ng-template>

    <div
      class="flex-1 py-6 px-4 border-l-[black] border-l-[1px] text-center hover:underline cursor-pointer flex justify-center items-center"
      (click)="openModal()"
    >
      <h1>Cart</h1>
      <div
        class="text-black flex justify-center items-center ml-2"
        *ngIf="quantity > 0"
      >(
        {{quantity > 99 ? "99+" : quantity}}
      )
      </div>
    </div>
</div>

<!-- Modal -->
<div id="modal" *ngIf="isModalOpen" class="modal-overlay" (click)="onOverlayClick($event)">
  <div class="modal-content w-full h-full bg-white flex flex-col border-[black] border-l"
    (click)="$event.stopPropagation()">
    <button class="close-button absolute top-2 right-2" (click)="closeModal()">
      X
    </button>
    <div class="px-3 py-2 text-sm text-gray-500 border-[black] border-b">
      <h2 class="text-lg font-normal my-4">Shopping Cart</h2>
    </div>

    <div class="overflow-y-auto flex-1 p-5 custom-scrollbar">
      <div *ngFor="let item of cartItems" class="flex items-center mb-4">
        <img src="data:image/*;base64,{{
            arrayBufferToBase64(item.product.picture!.data)
          }}" alt="{{ item.product.name }}" width="120" class="mr-6 border-[black] border aspect-square" />
        <div class="flex justify-between items-center w-full">
          <div>
            <p class="font-medium">{{ item.product.name }}</p>
            <p>Quantity ({{ item.quantity }})</p>
            <p class="font-medium">${{ item.product.price }}</p>
          </div>
          <button (click)="onRemoveCartItem(item.product._id)" class="text-gray hover:text-red-500 mr-8">Remove</button>
        </div>
      </div>
    </div>

    <div class="px-3 py-6 text-xl text-gray-500 text-center border-[black] border-y font-normal">
      <p class="flex justify-between">
        <span>Subtotal</span>
        <span>${{ subtotal.toFixed(2) }}</span>
      </p>
    </div>
    <input id="gift-message" [(ngModel)]="giftMessage" type="text" placeholder="Gift message"
      class="px-3 py-10 text-sm text-gray-500 w-full" />

    <div class="px-3 py-4 text-sm text-gray-500 text-center border-[black] border-y">
      <p>Shipping & taxes calculated at checkout</p>
      <p class="text-sm text-gray-600">Free standard shipping within Kyiv</p>
    </div>

    <button (click)="navigateToCheckout()" class="checkout-button w-full bg-blue-500 text-white p-3">
      Go to Checkout
    </button>
  </div>
</div>
<div id="modalupdate" *ngIf="isModalOpenAccount" class="modal-overlay fixed inset-0 justify-center items-center"
  (click)="onOverlayClickupdate($event)">
  <div class="modal-content w-full h-full bg-white flex flex-col border border-gray-300 shadow-lg"
    (click)="$event.stopPropagation()">
    <button class="close-button absolute top-2 right-2" (click)="closeModalAccount()">
      X
    </button>
    <div class="px-5 py-4 text-sm text-gray-500 border-b border-gray-300">
      <h2 class="text-lg font-medium">Your Information</h2>
    </div>

    <div class="flex flex-col p-5 space-y-4 flex-grow">
      <div class="flex flex-col">
        <label for="firstname" class="mb-1 text-sm text-gray-600">First Name</label>
        <input id="firstname" [(ngModel)]="firstname" name="firstname" type="text" placeholder="First Name"
          class="px-3 py-2 border border-gray-300" required #firstnameInput="ngModel" />
        <div *ngIf="firstnameInput.invalid && firstnameInput.touched" class="error-message">
          First Name is required.
        </div>
      </div>
      <div class="flex flex-col">
        <label for="lastname" class="mb-1 text-sm text-gray-600">Last Name</label>
        <input id="lastname" [(ngModel)]="lastname" name="lastname" type="text" placeholder="Last Name"
          class="px-3 py-2 border border-gray-300" required #lastnameInput="ngModel" />
        <div *ngIf="lastnameInput.invalid && lastnameInput.touched" class="error-message">
          Last Name is required.
        </div>
      </div>
      <div class="flex flex-col">
        <label for="email" class="mb-1 text-sm text-gray-600">Email</label>
        <input id="email" [(ngModel)]="email" name="email" type="email" placeholder="Email" class="px-3 py-2 border border-gray-300"
          required #emailInput="ngModel" email />
        <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
          A valid Email is required.
        </div>
      </div>
      <div class="flex flex-col">
        <label for="phonenumber" class="mb-1 text-sm text-gray-600">Phone Number</label>
        <input id="phonenumber" [(ngModel)]="phonenumber" name="phonenumber" type="tel" placeholder="Phone Number"
          class="px-3 py-2 border border-gray-300" required #phoneInput="ngModel" />
        <div *ngIf="phoneInput.invalid && phoneInput.touched" class="error-message">
          Phone Number is required.
        </div>
      </div>
    </div>
    <div class="px-5 py-4 space-y-1 border-t border-gray-300 text-center">
      <button (click)="submitForm()" class="bg-black text-white px-4 py-2 w-full">
        Update Your Information
      </button>
      <button class="bg-red-600 text-white px-4 py-2 w-full" (click)="openModalConfirm()">
        Delete Account
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div 
  id="modalConfirm" 
  *ngIf="isModalOpenConfirm" 
  class="h-full w-full fixed inset-0 z-[1001] flex justify-center items-center bg-black bg-opacity-50"
  (click)="onOverlayClickConfirm($event)"
>
  <div 
    class=" bg-white rounded-lg p-6 shadow-lg w-[350px] h-[200px] flex flex-col justify-between"
    (click)="$event.stopPropagation()"
  >
    <h2 class="text-lg font-semibold text-center">Delete your account</h2>
    <p>please enter "DELETE" to make this action</p>
    <input [(ngModel)]="deleteTxt" class=" border" type="text" name="deleteTxt" id="" />
    
    <div class="flex justify-between mt-4">
      <button 
        (click)="onConfirmDelete()" 
        class="w-24 border border-red-500 hover:bg-red-700 hover:text-white text-red-500 font-bold py-2 px-4 rounded"
      >
        Confirm
      </button>
      <button 
        (click)="onCancel()" 
        class="w-24 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
