<div class="[&>div]:w-1/4 [&>div]:p-10 flex">
  <div class="gap-6 flex flex-col">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate fugiat
      pariatur rerum excepturi illum repellendus nulla aliquid ratione qui
      dolorum inventore aut reprehenderit doloribus, optio corrupti quo, sequi
      nesciunt alias.
    </p>
    <div class="flex">
      <input class="h-14" hlmInput placeholder="Your Email" type="email" />
    </div>
  </div>
  <div class="">1234</div>
  <div class="">1234</div>
  <div class="">1234</div>
</div>
