<div class="signup-container">
    <div class="form-box">
        <h1>Sign Up</h1>
        <form>
            <div class="input-group">
                <label for="firstname">First Name</label>
                <input type="text" id="name" required="Please fill your first name" name="name" placeholder="Enter your first name" />
            </div>

            <div class="input-group">
                <label>Last Name</label>
                <input type="text" required name="lastname" placeholder="Enter your last name" />
            </div>

            <div class="input-group">
                <label>Email</label>
                <input type="email" required name="email" placeholder="Enter your email" />
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" required name="password" placeholder="Enter your password" />
            </div>

            <div class="input-group">
                <label>Phone Number</label>
                <input type="text" required name="phonenumber" placeholder="Enter your phone number" />
            </div>

            <button type="submit" class="signup-btn">Sign Up</button>
        </form>
        <div class="signup-link">
            <span>Already have an account?
                <a routerLink="/">Sign in</a></span>
        </div>
    </div>
</div>