<div class="flex w-full">
  <div class="w-1/2 px-20 py-10">
    <div class="sticky top-10">
      <div class="flex gap-3 font-medium text-sm mb-4">
        <div>
          <p [ngClass]="getStateStyle(0)">INFOMATION ></p>
        </div>
        <div>
          <p [ngClass]="getStateStyle(1)">SHIPPING ></p>
        </div>
        <div>
          <p [ngClass]="getStateStyle(2)">PAYMENT ></p>
        </div>
      </div>
      <div [ngSwitch]="state">
        <div *ngSwitchCase="0">
          <app-checkout-contatinfo
            (onSendData)="onReceivedData($event)"
            (state)="setState($event)"
          ></app-checkout-contatinfo>
        </div>
        <div *ngSwitchCase="1">
          <app-checkout-shipping-details
            (onSendData)="onReceivedData($event)"
            (state)="setState($event)"
          ></app-checkout-shipping-details>
        </div>
        <div *ngSwitchCase="2">
          <app-checkout-payment
            [data]="receivedData"
            (onSendData)="onReceivedData($event)"
          ></app-checkout-payment>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-1/2 flex flex-col gap-10 px-20 py-10 bg-extraLight border-[black] border-x"
  >
    <p class="font-medium">ORDER SUMMARY</p>
    <div>
      <div
        *ngFor="let data of cartItems"
        class="flex border-[lightGray] border-b pb-8"
      >
        <img
          src="{{ data.product.picture }}"
          alt="{{ data.product.name }}"
          width="160"
          class="mr-6 border-[black] border aspect-square"
        />
        <div class="flex justify-between w-full self-center text-lg">
          <div>
            <p class="font-medium">{{ data.product.name }}</p>
            <p>Quantity ({{ data.quantity }})</p>
          </div>
          <p class="font-medium">(${{data.product.price}} * {{data.quantity}})  ${{ data.product.price * data.quantity }}</p>
        </div>
      </div>
      <div class="flex w-full justify-between font-medium text-lg mt-3">
        <p>Total</p>
        <p>${{ getSum() }}</p>
      </div>
    </div>
  </div>
</div>
