<div class="login-container" classname="">
  <div class="login-box">
    <h1>Greetings!</h1>
    <h1>Welcome to luxury gift shop.</h1>
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          required
          placeholder="Enter your email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          required
          placeholder="Enter your password"
        />
      </div>

      <button type="submit" class="btn-login">CONTINUE</button>

      <div class="signup-link">
        <span>Don't have an account? </span>
        <a routerLink="register">Sign Up</a>
      </div>
    </form>
  </div>
</div>
